<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.delivery.mapper.OrderMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="order.id">
        INSERT INTO ORDERS(user_id, delivery_price, order_price, status, history)
        VALUES (#{userId}, #{order.deliveryPrice}, #{order.totalPrice}, #{order.orderStatus},
                #{order.orderHistoryList , typeHandler = com.flab.delivery.mapper.handler.JsonTypeHandler})
    </insert>

    <update id="changeStatus">
        UPDATE ORDERS
        SET status = #{orderStatus}
        WHERE id = #{orderId};
    </update>


</mapper>