<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.delivery.mapper.OrderMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="order.id">
        INSERT INTO ORDERS(user_id, store_id, order_price, status, delivery_address, history)
        VALUES (#{userId}, #{order.storeId}, #{order.orderPrice}, #{order.status},
                #{order.deliveryAddress},
                #{order.history , typeHandler = com.flab.delivery.mapper.handler.JsonTypeHandler})
    </insert>

    <update id="changeStatus">
        UPDATE ORDERS
        SET status = #{orderStatus}
        WHERE id = #{orderId};
    </update>

    <!--    TODO StartId 에 따라 최신 정보가아닌 과거 정보를 가져와야 함-->
    <select id="findPageIds" resultType="Long">
        SELECT id
        FROM ORDERS
        WHERE id &gt;= #{startId}
          AND user_id = #{userId}
    </select>

    <select id="findAllByPageIds" resultType="OrderSimpleResponseDto">
        SELECT status,
        order_price,
        created_at,
        store_id,
        json_extract(history, '$.menuCount') AS menu_count,
        json_extract(history, '$.menuList[0].menuName') AS menu_name
        FROM ORDERS
        WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        ORDER BY created_at DESC LIMIT 10;
    </select>

    <resultMap id="orderDetail" type="OrderDto">
        <result property="orderPrice" column="order_price"/>
        <result property="status" column="status"/>
        <result property="storeId" column="store_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="deliveryAddress" column="delivery_address"/>
        <result property="history" column="history" typeHandler="com.flab.delivery.mapper.handler.JsonTypeHandler"/>
        <result property="payType" column="type"/>
    </resultMap>


    <select id="findByOrderId" resultMap="orderDetail">
        SELECT o.order_price,
               o.status,
               o.store_id,
               o.created_at,
               o.history,
               o.delivery_address,
               p.type
        FROM ORDERS o
                 JOIN PAY p ON o.id = #{orderId} AND p.orders_id = o.id
    </select>


    <resultMap id="ownerOrderList" type="OwnerOrderResponseDto">
        <result property="status" column="status"/>
        <result property="storeName" column="name"/>
        <result property="createdAt" column="created_at"/>
        <result property="deliveryAddress" column="delivery_address"/>
        <result property="userPhoneNumber" column="phone_number"/>
        <result property="history" column="history" typeHandler="com.flab.delivery.mapper.handler.JsonTypeHandler"/>
    </resultMap>


    <select id="findAllOwnerOrderLimit100" resultMap="ownerOrderList">
        SELECT o.status,
               o.created_at,
               o.delivery_address,
               u.phone_number,
               s.name,
               o.history
        FROM ORDERS o
                 JOIN STORE s ON s.id = #{storeId} AND s.id = o.store_id
                 JOIN USER u ON u.id = o.user_id
        ORDER BY o.created_at DESC
        LIMIT 100;
    </select>

    <resultMap id="orderDelivery" type="OrderDeliveryDto">
        <result property="orderId" column="id"/>
        <result property="status" column="status"/>
        <result property="addressId" column="address_id"/>
        <result property="storeName" column="name"/>
        <result property="storeAddress" column="detail_address"/>
        <result property="deliveryAddress" column="delivery_address"/>
        <result property="userPhoneNumber" column="phone_number"/>
        <result property="startDeliveryTime" column="start_time"/>
        <result property="endDeliveryTime" column="end_time"/>
    </resultMap>


    <select id="findDeliveryInfo" resultMap="orderDelivery">
        SELECT o.id,
               o.status,
               s.address_id,
               s.name,
               s.detail_address,
               o.delivery_address,
               u.phone_number
        FROM ORDERS o
                 JOIN STORE s
                      ON o.id = #{orderId} AND s.id = #{storeId} AND s.user_id = #{ownerId} AND
                         o.status = 'ORDER_APPROVED' AND s.id = o.store_id
                 JOIN USER u ON u.id = o.user_id
    </select>

    <update id="updateOrderForDelivery">
        UPDATE
            ORDERS
        SET status     = 'IN_DELIVERY',
            start_time = NOW(),
            rider_id   = #{riderId}
        WHERE id = #{orderId}
    </update>

    <update id="updateOrderForFinish">
        UPDATE
            ORDERS
        SET status   ='FINISH_DELIVERY',
            end_time = NOW()
        WHERE id = #{orderId}
          AND rider_id = #{riderId}
    </update>

    <select id="findInDeliveryList" resultMap="orderDelivery">
        SELECT o.id,
               o.status,
               s.address_id,
               s.name,
               s.detail_address,
               o.delivery_address,
               u.phone_number,
               o.start_time
        FROM ORDERS o
                 JOIN STORE s
                      ON o.rider_id = #{riderId} AND o.status = 'IN_DELIVERY' AND s.id = o.store_id
                 JOIN USER u ON u.id = o.user_id
        ORDER BY o.start_time DESC
    </select>

    <select id="findFinishDeliveryPageIds" resultType="Long">
        SELECT id
        FROM ORDERS
        WHERE rider_id = #{riderId}
        <if test="startId != null">
            AND id &lt; #{startId}
        </if>
        ORDER BY end_time DESC
        LIMIT 10
    </select>


    <select id="findFinishDeliveryList" resultMap="orderDelivery">
        SELECT o.id,
        o.status,
        s.address_id,
        s.name,
        s.detail_address,
        o.delivery_address,
        u.phone_number,
        o.start_time,
        o.end_time
        FROM ORDERS o
        JOIN STORE s
        ON o.id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND o.rider_id = #{riderId} AND s.id = o.store_id
        JOIN USER u ON u.id = o.user_id
        ORDER BY o.end_time DESC
    </select>

</mapper>