<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.delivery.mapper.OrderMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="order.id">
        INSERT INTO ORDERS(user_id, store_id, order_price, status, delivery_address, history)
        VALUES (#{userId}, #{order.storeId}, #{order.orderPrice}, #{order.status},
                #{order.deliveryAddress},
                #{order.history , typeHandler = com.flab.delivery.mapper.handler.JsonTypeHandler})
    </insert>

    <update id="changeStatus">
        UPDATE ORDERS
        SET status = #{orderStatus}
        WHERE id = #{orderId};
    </update>

    <select id="findPageIds" resultType="Long">
        SELECT id
        FROM ORDERS
        WHERE id &gt;= #{startId}
          AND user_id = #{userId}
    </select>

    <select id="findAllByPageIds" resultType="OrderSimpleResponseDto">
        SELECT status,
        order_price,
        created_at,
        store_id,
        json_extract(history, '$.menuCount') AS menu_count,
        json_extract(history, '$.menuList[0].menuName') AS menu_name
        FROM ORDERS
        WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        ORDER BY created_at DESC LIMIT 10;
    </select>

    <resultMap id="orderDetail" type="OrderDto">
        <result property="orderPrice" column="order_price"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="deliveryAddress" column="delivery_address"/>
        <result property="history" column="history" typeHandler="com.flab.delivery.mapper.handler.JsonTypeHandler"/>
        <result property="payType" column="type"/>
    </resultMap>


    <select id="findByIdAndUserId" resultMap="orderDetail">
        SELECT o.order_price,
               o.status,
               o.created_at,
               o.history,
               o.delivery_address,
               p.type
        FROM ORDERS o
                 JOIN PAY p ON o.id = #{id} AND o.user_id = #{userId} AND p.orders_id = o.id
    </select>


    <resultMap id="ownerOrderList" type="OwnerOrderResponseDto">
        <result property="status" column="status"/>
        <result property="storeName" column="name"/>
        <result property="createdAt" column="created_at"/>
        <result property="deliveryAddress" column="delivery_address"/>
        <result property="userPhoneNumber" column="phone_number"/>
        <result property="history" column="history" typeHandler="com.flab.delivery.mapper.handler.JsonTypeHandler"/>
    </resultMap>


    <select id="findAllOwnerOrderLimit100" resultMap="ownerOrderList">
        SELECT o.status,
               o.created_at,
               o.delivery_address,
               u.phone_number,
               s.name,
               o.history
        FROM ORDERS o
                 JOIN STORE s ON s.id = #{storeId} AND s.id = o.store_id
                 JOIN USER u ON u.id = o.user_id
        ORDER BY o.created_at DESC
        LIMIT 100;
    </select>
</mapper>