<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.delivery.mapper.UserMapper">


    <insert id="save">
        insert into user(id, email, password, name, phone_number)
        values (#{id}, #{email}, #{password}, #{name}, #{phoneNumber});
    </insert>

    <select id="existUserById" resultType="boolean">
        select exists(select id from user where id = #{id});
    </select>

    <select id="countUser" resultType="long">
        select count(id)
        from user;
    </select>
</mapper>